@font-face {
  font-family: Reckless;
  src: url(./fonts//RecklessCondensedS-TRIAL-Book.woff);
}

@font-face {
  font-family: Figtree;
  src: url(./fonts/figtree_n4.3c0838aba1701047e60be6a99a1b0a40ce9b8419.woff2);
}

@font-face {
  font-family: Midnight;
  src: url(./fonts//midnight-sans-rd-12-medium-trial.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  min-height: 100vh;
  background-color: #fbf9eb;
}

.announcement-bar {
  width: 100%;
  background-color: #2a2857;
  color: #ffffff;
  text-align: center;
  padding: 8px 0;
  font-family: Figtree, sans-serif;
  font-size: 0.75rem;
  letter-spacing: 1px;
}

nav {
  width: 100%;
  background-color: #fffefb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Reckless;
  padding: 1rem 2rem;
  font-size: 0.8rem;
  position: sticky;
  top: 0;
  z-index: 999;
  border-bottom: 1px solid #eee;
}

nav i {
  font-size: 2rem;
  width: 33%;
}

nav .nav-part-1 {
  display: flex;
  gap: 1.5rem;
  width: 33%;
  display: none;
  align-items: center;
}

.nav-part-1 h3 {
  font-weight: 300;
  position: relative;
  cursor: pointer;
  padding-bottom: 5px;
  display: inline-block;
}

.nav-part-1 .h3-text::after,
.nav-part-3 .h3-text::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform-origin: bottom left;
  transition: transform 0.35s cubic-bezier(0.5, 0, 0, 1);
}

.nav-part-1 h3:hover::after,
.nav-part-3 .h3-text:hover::after {
  transform: scaleX(1);
}

.down-arrow {
  background-color: #c0dbff;
  border-radius: 50%;
  padding: 5px;
  margin-top: -1px;
  cursor: pointer;
  width: 18px;
  margin-left: -18px;
  height: 18px;
  border: #000 solid 1px;
  transition: all 0.3s ease-in-out;
}

.down-arrow:hover {
  background-color: #ffb500;
  border: #000 solid 1px;
  transform: rotate(180deg);
}

.star-arrow {
  margin-left: -18px;
  margin-top: -5px;
  width: 24px;
}

nav .nav-part-2 {
  width: 20%;
  height: auto;
  display: flex;
}

.nav-part-2 img {
  width: 135%;
  object-fit: cover;
}

.nav-part-3 {
  display: flex;
  width: 30%;
  gap: 2rem;
  align-items: center;
  justify-content: end;
}

.nav-part-3 h3 {
  font-weight: 400;
  display: none;
  position: relative;
  cursor: pointer;
  padding-bottom: 5px;
  font-family: monospace;
  text-transform: uppercase;
  display: inline-block;
}

.nav-part-3 svg {
  width: 30px;
  height: 30px;
}

#section-1 {
  height: 80vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  border-bottom: 1px solid #000;
}

.slider-track {
  display: flex;
  width: 200%;
  height: 100%;
  transition: transform 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}

#section-1:hover .slider-track {
  transform: translateX(-50%);
}

.slide {
  width: 50%;
  height: 80vh;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding: 3rem 2rem;
  gap: 1rem;
  text-align: center;
  position: relative;
}

.slide-first {
  background-image: url("https://www.twoleavestea.com/cdn/shop/files/cere-memorial_matcha_wide.png?v=1779304660&width=1280");
  background-color: #d1ecc4;
  background-size: cover;
  background-position: center;
}

.slide-second {
  background-image: url("https://www.twoleavestea.com/cdn/shop/files/AlpineBerry.webp?v=1774284236&width=2250.0");
  background-size: cover;
  background-position: center;
}

.slide-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 9rem;
  margin-left: -2rem;
}

.slide h1 {
  font-size: clamp(2rem, 6vw, 5.5rem);
  font-family: Reckless;
  font-weight: 400;
  color: #201c1a;
}
.slide-second h1 {
  color: white;
}

.slide p {
  font-size: clamp(1rem, 1.5vw, 1.3rem);
  font-family: Figtree;
  font-weight: 400;
  color: #201c1a;
  max-width: 600px;
}
.slide-second p {
  color: white;
}

.slide button {
  padding: 1rem 3rem;
  border: none;
  background-color: #2a2857;
  color: white;
  font-family: Figtree;
  border-radius: 2.5rem;
  font-size: 1.1rem;
  margin-top: 2rem;
  cursor: pointer;
}

.arrow-btn {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: white;
  border: 1px solid #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.arrow-right {
  right: 30px;
}

.arrow-left {
  left: 10px;
}

.fixed-purple-btn {
  position: absolute;
  bottom: 25px;
  right: 25px;
  width: 60px;
  height: 60px;
  background-color: #2a2857;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.9rem;
  z-index: 1000;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.fixed-blue-widget {
  position: fixed;
  bottom: 25px;
  left: 25px;
  width: 50px;
  height: 50px;
  background-color: #5cb3a9;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  z-index: 1000;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

#section-2 {
  width: 100%;
  height: auto;
  padding: 6rem 1rem;
}

#section-2 .section2-text {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Reckless;
  text-align: center;
}

.section2-text h1 {
  font-size: clamp(2.2rem, 5vw, 4rem);
  font-weight: 300;
  width: 60%;
}

#section-2 .btn-1 {
  padding: 0.1rem 0.5rem;
  font-size: 3rem;
  font-family: Midnight;
  font-weight: 600;
  background-color: #daaeea;
  border-radius: 1.2rem;
  text-transform: uppercase;
  margin-top: 5rem;
  rotate: -5deg;
  letter-spacing: 2px;
}

#section-2 .card-container {
  width: 100%;
  padding: 2rem 1.5rem;
  display: flex;
  gap: 20px;
  overflow-x: auto;
  justify-content: flex-start;
}

.card-container::-webkit-scrollbar {
  display: none;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-shrink: 0;
  width: 300px;
}

.card-top {
  width: 100%;
  height: 50vh;
  background-color: #c1ee91;
  position: relative;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
  border-radius: 1rem;
  border: 1px solid #000;
  overflow: hidden;
}

.card-top-text {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.card-top-text button {
  padding: 0.2rem 0.5rem;
  border-radius: 0.2rem;
  border: 1px solid #000;
  background-color: #fff;
  font-family: Midnight;
  font-size: 1rem;
  text-transform: uppercase;
  display: block;
  font-weight: 400;
}

.card-top-text span {
  font-size: 1.1rem;
  font-family: Reckless;
}

.card-top img {
  height: 80%;
  width: 80%;
  object-fit: contain;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all ease 0.3s;
  z-index: 1;
}

.card-image2 {
  background-color: #ffd884;
}
.card-image3 {
  background-color: #b0e8c1;
}
.card-image4 {
  background-color: #c1e4f8;
}
.card-image5 {
  background-color: #c0e571;
}
.card-image6 {
  background-color: #ffcb96;
}
.card-image7 {
  background-color: #ffd1b8;
}
.card-image8 {
  background-color: #cce3ff;
}
.card-image9 {
  background-color: #aee0f9;
}

.card-btm-text {
  background-color: #fff;
  padding-top: 0.7rem;
  padding-bottom: 0.3rem;
  width: 18%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.4rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  z-index: 2;
  border: 1px solid #000;
  letter-spacing: 2px;
}

.card-top:hover img {
  transform: translate(-50%, -50%) scale(1.08);
}

.card-btm {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-family: Reckless;
  align-items: start;
}

.card-btm h1 {
  font-size: 1.4rem;
  font-weight: 500;
}

.card-btm h3 {
  margin-top: 10px;
  font-size: 0.9rem;
  font-weight: 100;
  font-family: Figtree;
}

.card-btm p {
  font-weight: 100;
  opacity: 0.6;
  width: 95%;
  font-family: Figtree;
  font-size: 0.95rem;
}

.scroll-indicator-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1.5rem 0;
}

.scroll-indicator-bar {
  width: 40px;
  height: 1px;
  background-color: #e0dbcd;
  border-radius: 2px;
  position: relative;
  overflow: hidden;
  margin-left: 10px;
}

.scroll-indicator-fill {
  width: 40px;
  height: 100%;
  gap: 1.5rem;
  background-color: #201c1a;
  position: absolute;
  left: 0;
  border-radius: 2px;
}

.btn-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.btm-btn {
  padding: 1rem 3rem;
  border: none;
  background-color: #2a2857;
  color: white;
  font-family: Figtree;
  border-radius: 1.2rem;
  font-size: 1.1rem;
  cursor: pointer;
}

@media (min-width: 786px) {
}

@media (min-width: 1024px) {
  nav {
    padding: 0.5rem 2rem;
  }

  nav .nav-part-1 {
    display: flex;
  }

  nav i {
    display: none;
  }

  .nav-part-1 h3 {
    font-size: 1.5rem;
  }

  nav .nav-part-2 {
    width: 5%;
  }

  .nav-part-3 {
    width: 40%;
  }

  .nav-part-3 h3 {
    display: block;
  }

  .slide {
    text-align: left;
    justify-content: center;
    padding: 3rem 5rem;
  }

  .slide-content {
    align-items: flex-start;
    width: 40%;
  }

  #section-2 .btn-1 {
    display: none;
  }

  .card-container {
    margin-top: 4rem;
    justify-content: flex-start;
    padding-left: 10%;
    padding-right: 5%;
  }
}
